:root{
    ---color1-p: #1a1a1a;
    ---color2-p: #fff;
    ---color3-p: #ccc;
}


body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: var(---color1-p);
}

.in-header h1, .projects h1{
    font-size: 2.5em;
}

h1, p, small {
    color: var(---color2-p);
}

a:hover{
    color: var(---color3-p);
    text-decoration: none;
}

p {
    font-size: 0.9em;
    color: var(---color3-p);
}

.in-header{
    height: 100vh;
    background: radial-gradient(
        #333, #1a1a1a
    );
}

.in-header .content,
.projects,
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.in-header .content {
    color: var(---color2-p);
    padding: 0 3em;
    box-sizing: border-box;
    height: 90%;
    max-width: 700px;
    margin: 0 auto;
}

.projects{
    position: relative;
    filter: saturate(0%);
}

.projects img{
    width: 25%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
        0deg,
        rgba(26,26,26,1) 0%,
        rgba(26,26,26,0.8) 90%
    );
    width: 100%;
    height: 100%;
    z-index: 0;
    text-align: center;
}

.row   {
    display: grid;
    justify-items: start;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
    padding: 3em 2em;
}

.row p{
    font-size: 0.8em;
    max-width: 33em;
}

.row img{
    width: 22em;
    box-shadow: 
        rgba(0,0,0,0.25) 0px 14px 28px,
        rgba(0,0,0,0.22) 0px 10px 10px;
}

.discord {
    position: fixed; /* Fijo en la pantalla */
    top: 50%; /* Centrado verticalmente */
    right: 2%; /* Pegado al lado derecho */
    transform: translateY(-50%); /* Ajuste para centrar verticalmente */
    z-index: 999; /* Para que esté por encima del contenido */
}

.discord iframe {
    width: 350px; /* Aseguramos el tamaño correcto del iframe */
    height: 500px;
    border: none; /* Eliminamos cualquier borde */
}

/* Ocultar en dispositivos móviles */
@media (max-width: 768px) {
    .discord {
        display: none;
    }
}


@media screen and (max-height: 400px) {
    
    .in-header{
        height: 400em;
    }
}

@media screen and (min-width: 1000px){
    .in-header .content{
        margin: 0 0 0 6em;
        font-size: 18px;
    }
    .projects .overlay h1{
        font-size: 3em;
    }
    .row img{
        width: 30em;
    }
    .post {
        font-size: 18px;
    }
}

@media screen and (max-width: 680px) {
    .row{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}