.gen-header {
    padding: 200px 0; 
    text-align: center;
  }
  
  .gen-header .mrg {
    background: linear-gradient(to right, cyan, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
  }
  
  .gen-header .unete {
    background: purple;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer; 
    transition: 0.2s;
  }
  
  .gen-header .unete:hover {
    background: cyan;
    color: black;
  }
  
  
  .al-header {
    background: url('https://media.discordapp.net/attachments/739630265001050122/894296896980520970/28f5f52c-4ee4-4b74-9933-d6456dba36c9.png?width=1202&height=676') no-repeat center center; 
    background-size: cover;
    position: relative;
    z-index: 1; 

  }
  
  .al-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(24, 24, 24, 0.678), rgba(0, 0, 0, 0.555));
    z-index: -1;
}
  
  .al-header .cargo {
    color: rgb(100, 14, 100);
    font-size: 4rem;
    text-transform: uppercase;
  }

  .al-header .cargo-mod {
    color: rgb(175, 20, 175);
    font-size: 4rem;
    text-transform: uppercase;
  }
  
  .al-header .descripcion {
    color: white;
    padding: 5%;
    font-size: 1.5em;
    text-shadow: 1em;
  }

  .mod-header {
    background: url('https://media.discordapp.net/attachments/739630265001050122/931719448820342794/0c773481-f2fa-4507-b29d-85dee3dc8f3c.png?width=720&height=405') no-repeat center center; 
    background-size: cover;
    position: relative;
    z-index: 1; 

  }
  
  .mod-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(24, 24, 24, 0.678), rgba(0, 0, 0, 0.555));
    z-index: -1;
}
  
  .mod-header .cargo {
    color: rgb(255, 74, 255);
    font-size: 4rem;
    text-transform: uppercase;
  }

  .mod-header .cargo-mod {
    color: rgb(175, 20, 175);
    font-size: 4rem;
    text-transform: uppercase;
  }
  
  .mod-header .descripcion {
    color: white;
    padding: 5%;
    font-size: 1.5em;
    text-shadow: 1em;
  }

  .admin-header {
    background: url('https://media.discordapp.net/attachments/739630265001050122/893514261341552690/0_0_2.jpg?width=720&height=402') no-repeat center center; 
    background-size: cover;
    position: relative;
    z-index: 1; 

  }
  
  .admin-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(24, 24, 24, 0.678), rgba(0, 0, 0, 0.555));
    z-index: -1;
}
  
  .admin-header .cargo {
    color: rgb(252, 128, 252);
    font-size: 4rem;
    text-transform: uppercase;
  }

  .admin-header .cargo-mod {
    color: rgb(175, 20, 175);
    font-size: 4rem;
    text-transform: uppercase;
  }
  
  .admin-header .descripcion {
    color: white;
    padding: 5%;
    font-size: 1.5em;
    text-shadow: 1em;
  }

  .cards-body{
    background-image: url(
      https://cdn.discordapp.com/attachments/925526454257717318/1145075078665621655/985c65f4-3bab-46f3-a68b-2c5eb1818748.png
          );
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
  }

  .user-cards{
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 10vh;
  }

  .card{
    margin: 3em 1em 1em 1em;
    max-width: 35em;
    background: rgba(171, 171, 171, 0.1);
    color: #fff;
    padding: 2em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    position: relative;
    backdrop-filter: blur(4px);
    border: 1px #555 solid;
  }

  .card::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(
      0deg,
      #59fc72,
      #02bafc
    );
    width: 0;
    height: 0;
    z-index: -1;
    border-radius: inherit;
  }

  .profile-img{
    width: 6em;
    height: 6em;
    margin: -4em auto 0 auto;
    border-radius: 50%;
    background: linear-gradient(
      0deg,
      #59fc72,
      #02bafc
    );
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 0.5em #26293e;
  }

  .profile-img img{
    width: 90%;
    height: 90%;
    border-radius: inherit;
  }

  .card h2{
    margin: 1em 0 0 0;
    text-shadow: #646771;
  }

  .card h3{
    color: #fff;
    margin: 2em 0 0.5 0;
    font-weight: 400;
    text-shadow: #646771;
  }

  .card p{
    color: #81848f;
    font-size: 0.9em;
    max-width: 20em;
    margin: 0.2em auto 2em auto;
    text-shadow: #646771;
  }

  .card small{
    color: #646771 ;
    text-shadow: #646771;
  }

  .car p,
  .card small{
    transition: 0.2s;
    text-shadow: #646771;
  }

  .card:hover p,
  .card:hover small{
    color: #fff;
  }

  .card:hover::before{
    animation: fill 1s ease-in-out forwards;
  }

  .card:nth-child(2) .profile-img,
  .card:nth-child(2)::before {
    background: linear-gradient(
      0deg
      #ffc15d
      #ff4e57
    );
  }

  @keyframes fill{
    40%{
      width: 100%;
      height: 0.5em;
    }
    50%{
      width: 100%;
      height: 0.5em;
    }
    100%{
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 600px) {
  .card {
    width: 90%;
  }
}