
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.logoMar{
    width: 30%;
    height: auto;
    display: flex;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icons-container .bx{
    font-size: 1.2rem;
    color: #f2f2f2;
    margin: 1rem;
    position: center;
}

.social-icons-container .bx:hover{
    color: #121212;
    filter: invert(1);
}

.footer-menu-container{
    list-style: none;
}

.footer-menu-container a{

    color: #f2f2f2;
    font-size: 18px;
}

.menu-itemF a{
    text-decoration: none;
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-itemF:hover a{
    opacity: 1;
}

.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

.copyright a{
    text-decoration: none;
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}